a {
    color: rgb(255, 0, 0);
}

li:hover {
    font-size: x-large;
    font: bold;
}
 
.school {
    color: red;
} 

#introduction {
    text-decoration: underline;
    font:bold;
}

.introduction1 {
    text-decoration: underline;
    font:bold;
}

.light-red {
    background:rgb(227, 151, 151);
}

.light-yellow {
    background: rgb(227, 227, 169);
}

.red {
    background:rgb(255, 101, 101);
}

table, th, td {
    border: 1px solid black;
    font-size: larger;
}

.neon {
   background: rgb(148, 255, 90);
} 

.yellow-text {
    color:rgb(206, 196, 8);
}
 
.red-text {
    color:rgb(170, 12, 12)
}

@media screen and (max-width:1200px) {
    .red {
        background:white;
    }
}