a {
    color: rgb(255, 0, 0);
}

li:hover {
    font-size: x-large;
    font: bolder;
}
 
.school {
    color: red;
} 

#introduction {
    text-decoration: underline;
    font:bolder;
}

.introduction {
    text-decoration: underline;
    font:bolder;
}

.light-red {
    background:rgb(227, 151, 151);
}

.light-yellow {
    background: rgb(227, 227, 169);
}

.red {
    background:rgb(255, 101, 101);
}

table, th, td {
    border: 1px solid black;
    font-size: larger;
}

.neon {
   background: rgb(148, 255, 90);
} 